<div class="container-card-service">
    <h1 class="" style="margin-bottom: 50px;width: 90%;">
        Conoce Nuestros Servicios
    </h1>
    <div class="cards-container">

        <div class="card" #card1>
            <app-img-card cardTitle="Alojamientos" cardImg="../../../../../assets/images/alojamiento.jpg"
                cardDesc="Hospedajes únicos, experiencias inolvidables', desc:'Contamos con una increíble oferta de alojamientos, desde hoteles hasta apartamentos frente a la playa. Tu comodidad y bienestar son nuestra prioridad." href="/alojamientos"></app-img-card>
        </div>
        <div class="card" #card2>
            <app-img-card cardTitle="Rent a car" cardImg="../../../../../assets/images/rent-car.jpg"
                cardDesc="Listo para recorrer Miami? Ofrecemos una amplia flota de autos para todo tipo de viajes. Con recogida conveniente en el aeropuerto, un proceso de reserva fácil y la posibilidad de explorar la Florida sin restricciones, hacemos que cada recorrido sea una experiencia única." href="/rent-a-car"></app-img-card>
        </div>
        <div class="card" #card3>
            <app-img-card cardTitle="Vuelos" cardImg="../../../../../assets/images/vuelos-baratos-paginas-b.webp"
                cardDesc="Despega junto a Double G', 
                desc:'Planificar tu próximo viaje es fácil. Conectamos tus sueños con destinos fascinantes y experiencias inolvidables. Desde vuelos directos a conexiones estratégicas, te ofrecemos opciones que se adaptan a tus necesidades y preferencias." href="/vuelos"></app-img-card>
        </div>

        <div class="card" #card4>
            <app-img-card cardTitle="Parques Temáticos" cardImg="../../../../../assets/images/disney.jpg"
                cardDesc="Consigue tus Tickets a los Mejores Parques Temáticos. Ofrecemos acceso a los destinos más emocionantes y entretenidos. Asegura tu entrada y prepárate para vivir experiencias inolvidables. ¡Descubre la magia que tenemos para ti!" href="/parques"></app-img-card>
        </div>
        <div class="card" #card5>
            <app-img-card cardTitle="Luxury" cardImg="../../../../../assets/images/Luxury.jpg"
                cardDesc="Disfruta la elegancia y el confort con nuestro exclusivo servicio de renta de autos lujosos y yates. Reserva ahora y haz de tu viaje una experiencia de alto nivel con Double G." href="/luxury"></app-img-card>
        </div>
        <div class="card" #card6>
            <app-img-card cardTitle="Cruceros" cardImg="../../../../../assets/images/crucero.webp" cardDesc="Embárcate en una experiencia inolvidable con nuestros servicios de cruceros. Ofrecemos una selección de cruceros que se adaptan a todos los gustos. Con comodidades de primera clase, entretenimiento de calidad y una atención excepcional, cada travesía se convierte en una escapada única." href="/cruceros"></app-img-card>
        </div>
    </div>
</div>