<app-nav-bar></app-nav-bar>

<app-portada
    backImg="../../../../../assets/images/hotel-room.jpg"
    secTitle="MIAMI ES COMODIDAD"
    mainTitle="Alojamientos"
    desc="Conoce nuestras opciones de hospedaje"
    ></app-portada>


<div class="alojamiento-global">
    <h3 class="text-color title">Búsqueda de Alojamiento Global</h3>
    <div class="contenedor-cards">
        <div class="global-cards">
            <div class="content">
            <div class="image-card">
                <ng-icon class="global-icon" name="ionBusinessOutline"></ng-icon>
            </div>
            <div class="text-card">
            <h4>Acomodamiento</h4>
            <p>Te buscamos el lugar que necesites</p>
        </div>
    </div>
        </div>
        <div class="global-cards">
            <div class="content">
            <div class="image-card">
                <ng-icon class="global-icon" name="ionPeopleOutline"></ng-icon>
            </div>
            <div class="text-card">
            <h4>Acompañamiento</h4>
            <p>Tenemos gente 24hs a tu necesidad</p>
        </div>
    </div>
        </div>
        <div class="global-cards">
            <div class="content">
            <div class="image-card">
                <ng-icon class="global-icon" name="ionColorWandOutline"></ng-icon>
            </div>
            <div class="text-card">
            <h4>Financiacion</h4>
            <p>Te buscamos el mejor lugar con el mejor precio</p>
        </div>
    </div>
        </div>
    </div>
</div>  

<app-experience-section></app-experience-section>

<app-footer></app-footer>
