<app-nav-bar></app-nav-bar>

<app-portada
    backImg="../../../../../assets/images/hotel-room.jpg"
    secTitle="MIAMI ES COMODIDAD"
    mainTitle="Alojamientos"
    desc="Conoce nuestras opciones de hospedaje"
></app-portada>



<app-mosaico mainTitle="Destinos" desc="¡Encontra tu siguiente alojamiento en diferentes partes del mundo!"
    [images]="mosaicoImages" [texts]="mosaicoTexts"
></app-mosaico>

    
<app-tres-cards-section [cardData]="beneficios" mainTitle="¿Por que volar con Double G?"></app-tres-cards-section>

<app-experience-cards [skipIndex]="0"></app-experience-cards>
<app-floating-whatsapp></app-floating-whatsapp>
<app-contacto></app-contacto>
<app-footer></app-footer>
