
    <div class="container">
        <h1>{{ title }}</h1>
        <p>{{ text }}</p>
        <swiper-container class="mySwiper" navigation="true" centered-slides="true" autoplay-delay="4000" autoplay-disable-on-interaction="false" loop="true">

            <swiper-slide *ngFor="let card of cardData">
                <div class="round-item">
                    <div class="card">
                        <img class="card-img" [src]="card.imageSrc" loading="lazy">
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
        <div class="luxury-button">
            <app-primary-button text="Pedir Asesoramiento" (click)="selectFunction()"></app-primary-button>
        </div>
    </div>

