
<div class="contacto-form">
    
    <div class="hablanos-ahora" *ngIf="mostrarHablanosAhora">
        <div>
            <h3>¿Listo para empacar?</h3>
        </div>
        <div>
            <h4>Te estamos esperando</h4>
        </div>
        <div>
            <p>"Llámanos sin costo alguno y haznos todas las consultas que quieras. Estamos disponibles ahora para resolver los planes de tu viaje y que empieces a disfrutar ya."</p>
        </div>
        <div>
            <button class="btn btn-outline-secondary" (click)="mostrarTipoContactoClick()">Hablanos ahora</button>
        </div>
    </div>

    <div class="tipo-contacto" *ngIf="mostrarTipoContacto">
        <div>
            <h2>Contáctate ahora</h2>
            <p>Un ejecutivo de cuentas te espera para resolver cualquier consulta que tengas.</p>
        </div>
        <div>
            <button class="btn btn-outline-secondary">WHATSAPP</button>
        </div>
        <div>
            <button class="btn btn-outline-secondary" (click)="mostrarEmailContainerClick()">EMAIL</button>
        </div>
    </div>

    <div class="email-container" *ngIf="mostrarEmailContainer">
        <button class="btn btn-outline-secondary" (click)="volverClick()">Volver</button>
        <h1 class="text-color-gray title">Contacto</h1>
        <div>
            <form action="">
                <input type="text" placeholder="Nombre">
                <input type="email" placeholder="Email">
                <select>
                    <option value="" disabled selected>Tipo de consulta</option>
                    <option value="Navegación">Error en la Navegación</option>
                    <option value="Informacion">Información</option>
                    <option value="Otro">Otro</option>
                </select>
                <textarea placeholder="Consulta"></textarea>
                <button class="btn btn-outline-secondary" type="submit">Enviar</button>
            </form>
        </div>
    </div>

</div>