.contacto-form {
    text-align: center;
    height: 580px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

.hablanos-ahora {
    width: 100%;
    max-width: 100%;
}

form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 10px;
}


.main-title, 
.sub-title {
    margin-bottom: 40px;
}
.text {
    margin-bottom: 50px;
}

button {
    margin-bottom: 20px;
}

.button-form {
    width: 150px;
    margin: 0 auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}