
<div class="contacto-form">
    
    <div class="hablanos-ahora">
        <div class="main-title">
            <h2>{{mainTitle}}</h2>
        </div>
        <div class="sub-title">
            <h4>{{subTitle}}</h4>
        </div>
        <!---->
        <div class="button-form">
            <app-primary-button text="Contactanos"  href="https://api.whatsapp.com/send/?phone=19546218999&text=Hola%21+Me+gustaría+conocer+las+posibilidades+de+alquiler+de+DOUBLE+G&type=phone_number&app_absent=0" target="_blank"></app-primary-button>
        </div>
        
    </div>
</div>