.contacto-form {
    text-align: center;
    height: 580px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.hablanos-ahora {
    width: 100%;
    max-width: 100%;
}

form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 10px;
}


.main-title, 
.sub-title {
    margin-bottom: 40px;
}
.text {
    margin-bottom: 50px;
}

button {
    margin-bottom: 20px;
}