<app-nav-bar></app-nav-bar>

<app-portada backImg="../../../../../assets/images/luxury.2.jpg" secTitle="UNA EXPERIENCIA DE LUJO EN MIAMI"
    mainTitle="Luxury"
></app-portada>

<app-luxury-carrousel [cardData]="yateData" title="Navega con estilo"></app-luxury-carrousel>

<app-luxury-carrousel [cardData]="carData" title="Maneja con estilo"></app-luxury-carrousel>

<app-tres-cards-section [cardData]="beneficios" mainTitle="¿Porque volar con Double G?"></app-tres-cards-section>
<app-experience-cards [skipIndex]="4"></app-experience-cards>
<app-contacto></app-contacto>

<app-footer></app-footer>
