

<app-portada 
    backImg="../../../../../assets/images/luxury.2.jpg" 
    secTitle="Estilo 100% Miami"
    mainTitle="Luxury"
    desc="Disfruta la elegancia y el confort con nuestro exclusivo servicio de renta de autos lujosos y yates. Reserva ahora y haz de tu viaje una experiencia de alto nivel con Double G."
></app-portada>

<app-luxury-carrousel [cardData]="yateData" title="Alquiler de yates" text="Descubre la experiencia exclusiva de navegar por Miami. Con nuestro servicio de alquiler de yates, disfruta de un día increíble, vistas panorámicas y un servicio de primera clase. Haz que cada momento en el agua sea inolvidable."></app-luxury-carrousel>

<app-luxury-carrousel [cardData]="carData" title="Renta de vehículos luxury" text=" Recorre la Florida con nuestra exclusiva oferta de renta de vehículos de alta gama. Ferrari, Lamborghini y muchos más, ofrecemos una flota que combina rendimiento, confort y sofisticación."></app-luxury-carrousel>

<app-experience-cards [skipIndex]="4"></app-experience-cards>
<app-floating-whatsapp></app-floating-whatsapp>
<app-contacto></app-contacto>

<app-footer></app-footer>
