<app-nav-bar></app-nav-bar>

<div class="portada-container">
    <div class="portada-img fade-up">
        <img src="../../../../../assets/images/costa-palemras.jpg">
    </div>

    <div class="portada-info fade-up">
        <h1>Relájate ¡Nosotros nos encargamos!</h1>
        <p>Te mostramos a continuación todos nuestros servicios</p>
        <div class="grid-caracteristicas">
            <div class="caracteristica">
                <p><span><i aria-hidden="true" class="fa fa-bed"></i></span>Alojamientos</p>
            </div>
            <div class="caracteristica">
                <p><span><i aria-hidden="true" class="fa fa-plane"></i></span>Vuelos</p>
            </div>
            <div class="caracteristica">
                <p><span><i aria-hidden="true" class="fa fa-magic"></i></span>Parques</p>
            </div>
            <div class="caracteristica">
                <p><span><i aria-hidden="true" class="fa fa-car"></i></span>Vehiculos</p>
            </div>
            <div class="caracteristica">
                <p><span><i aria-hidden="true" class="fa fa-star"></i></span>Luxury</p>
            </div>
            <div class="caracteristica">
                <p><span><i aria-hidden="true" class="fa fa-ship"></i></span>Cruceros</p>
            </div>
        </div>
    </div>
</div>

<div class="grid-container">

    
    <div class="service-content left">
        <div class="item photo">
            <img src="../../../../../assets/images/alojamiento.jpg">
        </div>
        <div class="item info">
            <div class="title-container">
                <h3>Alojamientos</h3>
            </div>
            <div class="text-container">
                <p class="text">Sumérgete en la comodidad y la hospitalidad excepcional con nuestro servicio de alojamientos.</p>
            </div>
            <div class="info-button" style="max-width: 50%;width: 100px;">
                <app-primary-button text="Explora" href="/alojamientos"></app-primary-button>
            </div>
        </div>
    </div>
    

    
        <div class="service-content right">
            <div class="item info">
                <div class="title-container">
                    <h3>Rent a car</h3>
                </div>
                <div class="text-container">
                    <p class="text">Descubre la libertad de explorar a tu propio ritmo con nuestro servicio de alquiler de vehículos.</p>
                </div>
                <div class="info-button" style="max-width: 50%;width: 100px;">
                    <app-primary-button text="Explora" href="/rent-a-car"></app-primary-button>
                </div>
            </div>
            <div class="item photo">
                <img src="../../../../../assets/images/rent-car.jpg">
            </div>
        </div>
    

    
    <div class="service-content left">
        <div class="item photo">
            <img src="../../../../../assets/images/vuelos-baratos-paginas-b.webp">
        </div>
        <div class="item info">
            <div class="title-container">
                <h3>Vuelos</h3>
            </div>
            <div class="text-container">
                <p class="text">Eleva tus expectativas con nuestro servicio de vuelos y una experiencia de viaje inigualable.</p>
            </div>
            <div class="info-button" style="max-width: 50%;width: 100px;">
                <app-primary-button text="Explora" href="/vuelos"></app-primary-button>
            </div>
        </div>
    </div>
    

    
        <div class="service-content right">
            <div class="item info">
                <div class="title-container">
                    <h3>Parques Temáticos</h3>
                </div>
                <div class="text-container">
                    <p class="text">¡¡Sumérgete en la magia y la diversión con nuestro servicio de visita a parques temáticos!</p>
                </div>
                <div class="info-button" style="max-width: 50%;width: 100px;">
                    <app-primary-button text="Explora"  href="/parques"></app-primary-button>
                </div>
            </div>
            <div class="item photo">
                <img src="../../../../assets/images/magic-kingodm.jpg">
            </div>
        </div>
    

    
    <div class="service-content left">
        <div class="item photo">
            <img src="../../../../../assets/images/Luxury.jpg">
        </div>
        <div class="item info">
            <div class="title-container">
                <h3>Luxury</h3>
            </div>
            <div class="text-container">
                <p class="text">Descubre la definición del lujo con nuestro exclusivo servicio de categoría Luxury.</p>
            </div>
            <div class="info-button" style="max-width: 50%;width: 100px;">
                <app-primary-button text="Explora" href="/luxury"></app-primary-button>
            </div>
        </div>
    </div>
    

    
        <div class="service-content right">
            <div class="item info">
                <div class="title-container">
                    <h3>Cruceros</h3>
                </div>
                <div class="text-container">
                    <p class="text">¡Descubre el placer de navegar con nuestro servicio de cruceros excepcional!</p>
                </div>
                <div class="info-button" style="max-width: 50%;width: 100px;">
                    <app-primary-button text="Explora" href="/cruceros"></app-primary-button>
                </div>
            </div>
            <div class="item photo">
                <img src="../../../../assets/images/yate.webp">
            </div>
        </div>
    

</div>

<app-experience-section></app-experience-section>

<app-floating-whatsapp></app-floating-whatsapp>

<app-footer></app-footer>
