
<div class="portada-container">
    <div class="portada-img fade-up">
        <img src="../../../../../assets/images/costa-palemras.jpg" loading="lazy">
    </div>

    <div class="portada-info fade-up">
        <h1>Relájate ¡Nosotros nos encargamos!</h1>
        <p>En Double G, no solo nos dedicamos a la planificación de viajes; nos especializamos en crear experiencias memorables. Somos una agencia oficial de la Florida comprometida en brindarte el máximo confort, opciones personalizadas y un servicio excepcional.</p>
        <div class="grid-caracteristicas">
            <div class="caracteristica">
                <p><span><i aria-hidden="true" class="fa fa-bed"></i></span>Alojamientos</p>
            </div>
            <div class="caracteristica">
                <p><span><i aria-hidden="true" class="fa fa-plane"></i></span>Vuelos</p>
            </div>
            <div class="caracteristica">
                <p><span><i aria-hidden="true" class="fa fa-magic"></i></span>Tickets</p>
            </div>
            <div class="caracteristica">
                <p><span><i aria-hidden="true" class="fa fa-car"></i></span>Vehículos</p>
            </div>
            <div class="caracteristica">
                <p><span><i aria-hidden="true" class="fa fa-star"></i></span>Servicio Luxury</p>
            </div>
            <div class="caracteristica">
                <p><span><i aria-hidden="true" class="fa fa-ship"></i></span>Cruceros</p>
            </div>
        </div>
    </div>
</div>

<div class="park-portada">
    <div class="text-portada">
        <h1 class="title">Contáctanos y cuéntanos tus planes, días y presupuesto.</h1>
    </div>
    
    <div class="logo-container">
        <div class="logo">
            <img src="https://static.vecteezy.com/system/resources/previews/018/888/905/original/cartoon-world-icon-png.png" loading="lazy">
        </div>
    </div>
    
    <div class="text-portada">
        <h1 class="title">Nosotros organizamos tu viaje perfecto</h1>
    </div>
</div>


<div class="grid-container">

    
    <div class="service-content left">
        <div class="item photo">
            <img src="../../../../../assets/images/alojamiento.jpg" loading="lazy">
        </div>
        <div class="item info">
            <div class="title-container">
                <h3>Alojamientos</h3>
            </div>
            <div class="text-container">
                <p class="text">Contamos con una increíble oferta de alojamientos, desde hoteles hasta apartamentos frente a la playa. Tu comodidad y bienestar son nuestra prioridad.</p>
            </div>
            <div class="info-button" style="max-width: 50%;width: 100px;">
                <app-primary-button text="Explora" href="/alojamientos"></app-primary-button>
            </div>
        </div>
    </div>
    

    
        <div class="service-content right">
            <div class="item info">
                <div class="title-container">
                    <h3>Rent a car</h3>
                </div>
                <div class="text-container">
                    <p class="text">Listo para recorrer Miami? Ofrecemos una amplia flota de autos para todo tipo de viajes. Con recogida conveniente en el aeropuerto, un proceso de reserva fácil y la posibilidad de explorar la Florida sin restricciones, hacemos que cada recorrido sea una experiencia única.</p>
                </div>
                <div class="info-button" style="max-width: 50%;width: 100px;">
                    <app-primary-button text="Explora" href="/rent-a-car"></app-primary-button>
                </div>
            </div>
            <div class="item photo">
                <img src="../../../../../assets/images/rent-car.jpg" loading="lazy">
            </div>
        </div>
    

    
    <div class="service-content left">
        <div class="item photo">
            <img src="../../../../../assets/images/vuelos-baratos-paginas-b.webp" loading="lazy">
        </div>
        <div class="item info">
            <div class="title-container">
                <h3>Vuelos</h3>
            </div>
            <div class="text-container">
                <p class="text">Despega junto a Double G', 
                    desc:'Planificar tu próximo viaje es fácil. Conectamos tus sueños con destinos fascinantes y experiencias inolvidables. Desde vuelos directos a conexiones estratégicas, te ofrecemos opciones que se adaptan a tus necesidades y preferencias.</p>
            </div>
            <div class="info-button" style="max-width: 50%;width: 100px;">
                <app-primary-button text="Explora" href="/vuelos"></app-primary-button>
            </div>
        </div>
    </div>
    

    
        <div class="service-content right">
            <div class="item info">
                <div class="title-container">
                    <h3>Parques Temáticos</h3>
                </div>
                <div class="text-container">
                    <p class="text">Consigue tus Tickets a los Mejores Parques Temáticos. Ofrecemos acceso a los destinos más emocionantes y entretenidos. Asegura tu entrada y prepárate para vivir experiencias inolvidables. ¡Descubre la magia que tenemos para ti!</p>
                </div>
                <div class="info-button" style="max-width: 50%;width: 100px;">
                    <app-primary-button text="Explora"  href="/parques"></app-primary-button>
                </div>
            </div>
            <div class="item photo">
                <img src="../../../../assets/images/magic-kingodm.jpg" loading="lazy">
            </div>
        </div>
    

    
    <div class="service-content left">
        <div class="item photo">
            <img src="../../../../../assets/images/Luxury.jpg" loading="lazy">
        </div>
        <div class="item info">
            <div class="title-container">
                <h3>Luxury</h3>
            </div>
            <div class="text-container">
                <p class="text">Disfruta la elegancia y el confort con nuestro exclusivo servicio de renta de autos lujosos y yates. Reserva ahora y haz de tu viaje una experiencia de alto nivel con Double G.</p>
            </div>
            <div class="info-button" style="max-width: 50%;width: 100px;">
                <app-primary-button text="Explora" href="/luxury"></app-primary-button>
            </div>
        </div>
    </div>
    

    
        <div class="service-content right">
            <div class="item info">
                <div class="title-container">
                    <h3>Cruceros</h3>
                </div>
                <div class="text-container">
                    <p class="text">Embárcate en una experiencia inolvidable con nuestros servicios de cruceros. Ofrecemos una selección de cruceros que se adaptan a todos los gustos. Con comodidades de primera clase, entretenimiento de calidad y una atención excepcional, cada travesía se convierte en una escapada única.</p>
                </div>
                <div class="info-button" style="max-width: 50%;width: 100px;">
                    <app-primary-button text="Explora" href="/cruceros"></app-primary-button>
                </div>
            </div>
            <div class="item photo">
                <img src="../../../../assets/images/yate.webp" loading="lazy">
            </div>
        </div>
    

</div>

<app-experience-section></app-experience-section>

<app-contacto
    subTitle="Tu próxima aventura está a solo un clic de distancia. Contáctanos para planificar las vacaciones que sueñas. Nuestros asesores están listos para ayudarte!"
></app-contacto>

<app-floating-whatsapp></app-floating-whatsapp>

<app-footer></app-footer>
