
.container {
  width: 1400px;
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  overflow: hidden;
  gap: 20px;
}

// Info
.info {
  text-align: left;
  padding: 15px;
}

.title {
  margin-bottom: 30px;
}
.title h2{
  font-size: 2.5rem;
  font-weight: 600;
}

.info-text {
  margin-bottom: 30px;
  max-width: 90%;
}
.info-text p{
  font-size: 1rem;
}

.list {
  list-style: none;
  padding: 0;
}

.list ul {
  padding: 0;
  margin: 0;
}
.list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin: 0;
}

.list li span{
  display: flex;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
}
.list li span i{
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  font-size: 1.5em;
  color: black;
  opacity: 0.45;
  transition: color 0.5s;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.experience-button {
  display: flex; 
  width: 100%; 
  justify-content: flex-start; 
  align-items: center;
  margin-left: 12px;
}

.info-button {
  width: 160px;
  margin-top: 30px;
  margin-bottom: 20px;
}

// Imagenes
.photos {
  padding: 15px;
  display: flex;
  justify-content: center;
}
.images-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


swiper-slide .round-item {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  margin: 0;
}
swiper-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 600px;
  swiper-slide {
    width: 100%;
    height: 100%;
  }
  .card {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: black;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
  }
  .card-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.fade-up {
  animation: fadeUp 0.3s;
}

.fade-down {
  animation: fadeDown 0.5s;
}


.info,
.photos {
  opacity: 0;
}

.visible {
  opacity: 1;
  transform: none;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translateY(0px) scale(1)
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translateY(0px) scale(1)
  }
}
@media screen and (max-width: 1024px) {
  .experience-button {
    justify-content: center;
    margin-left: 0;
  }
  .info{
    text-align: center;  
    padding: 0;
  }
  .info-text {
    max-width: 90%;
  }
  .list li span{
    justify-self: flex-start;
  }
  .container {
    grid-template-columns: repeat(1, 100%);
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
  }
  .list {
    font-size: 0.9rem;
  }
  
  

}