
    <div class="container">
        <div class="info">
            <div class="title">
                <h2>Vive una experiencia completa</h2>
            </div>
            <div class="info-text">
                <p>Explora la Florida con una perspectiva única y
                    auténtica. Más que una agencia de viajes, somos tus aliados para
                    crear momentos inolvidables. </p>
                <p>
                    Permite que nuestro equipo te guíe en un viaje personalizado que va más allá de las expectativas, nos dedicamos a hacer que cada momento de tu viaje sea inolvidable.
                </p>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <span><i class="fa fa-code-fork" aria-hidden="true"></i></span>
                        <span>Atención personalizada: recibe asesoramiento experto a medida.</span>
                    </li>
                    <li>
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span>Experiencia local: descubre Miami y la Florida de manera auténtica.</span>
                    </li>
                    <li>
                        <span><i class="fa fa-address-card " aria-hidden="true"></i></span>
                        <span>Reservas sin complicaciones.</span>
                    </li>
                    <li>
                        <span><i class="fa fa-compass" aria-hidden="true"></i></span>
                        <span>Aventuras personalizadas: diseñamos tu viaje según tus preferencias.</span>
                    </li>
                    <li style="margin: 0;">
                        <span><i class="fa fa-handshake" aria-hidden="true"></i></span>
                        <span>Seguridad y confianza: somos agentes turísticos oficiales listos para asesorarte.</span>
                    </li>
                </ul>
            </div>
            <div class="experience-button">
                <div class="info-button" style="max-width: 30%;">
                    <app-primary-button text="Explora" (click)="selectFunction()"></app-primary-button>
                </div>
            </div>
        </div>
        <div class="photos">
            <div class="images-container">
                <swiper-container class="mySwiper" centered-slides="true" autoplay-delay="4000" autoplay-disable-on-interaction="false" loop="true">

                    <swiper-slide *ngFor="let card of imageData">
                        <div class="round-item">
                            <div class="card">
                                <img class="card-img" [src]="card.imageSrc" loading="lazy">
                            </div>
                        </div>
                    </swiper-slide>
                </swiper-container>
            </div>
        </div>
    </div>