

.contenedor {
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  grid-template-rows: 400px 400px;
  
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-top: 30px;
}

.first-part,
.second-part {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  align-items: center;
  padding: 20px;
  max-height: 100%;
}

.imagen {
  width: 100%;
  max-width: 100%;
  padding: 10px;
}
#experiencie-img {
  width: 100%;
  height: auto; 
  display: block;
  margin: 0 auto;
  border-radius: 8px;
    transition: all 1.5s ease;
    filter: brightness(70%);
  
    &:hover {
      transform: scale(1.25);
      border-radius: 8px;
      transition: all 1.5s ease;
      filter: brightness(100%);
    }
}

.title {
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
  text-align: left;
  margin: 0 auto;
  margin-top: 20px;
}
.title-experience {
  max-width: 100%;
  max-height: 100%;
  font-size: 2.5em;
}

.video,
.text {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 20px;
}
.text {
  max-width: 100%;
    overflow: hidden;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
}
.text-experience {
  font-size: 1.5em;
}

iframe {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  
}
@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-rows: auto;
  }
  .first-part,
  .second-part {
    grid-template-columns: 100%;
  }
  
}

@media screen and (max-width: 430px) {
  .title-experience {
    font-size: 2em;
  }

}
