<app-nav-bar></app-nav-bar>

<app-portada
    backImg="../../../../../assets/images/ren-a-car-2.jpg"
    secTitle="MUEVETE POR LA FLORIDA CON EL ESTILO QUE MERECES"
    mainTitle="Rent a Car"

></app-portada>

<div class="sub-portada">
    <img src="../../../../../assets/images/ren-a-car-2.jpg">
    <div class="sub-port-text">
        <h1>
            MUEVETE POR LA FLORIDA CON EL ESTILO QUE MERECES
        </h1>
        <p>
            Buscamos para ti la mejor opción de nuestra flota último modelo entre: vehículos exóticos, de alta gama, viajar hasta la
            costa oeste o quizás Orlando con la familia a bordo de algunas de nuestras Minivans híbridas. Siempre encontraremos lo
            que mejor vehiculo que se adapte a ti! Eso es lo que más nos importa en Double G, satisfacer tu necesidad a tu medida.
        </p>
    </div>
</div>

<app-galeria-autos></app-galeria-autos>


<!--
<app-mosaico mainTitle="Tipos de Autos" desc="¡Encontra el auto para tus mejores viajes!"
    [images]="mosaicoImages" [texts]="mosaicoTexts"
></app-mosaico>
-->

    

<app-tres-cards-section mainTitle="Búsqueda de Alojamiento Global" [cardTitle]="globalTexts"
    [cardDesc]="globalDescs"
    [cardIcons]="globalIcons"
></app-tres-cards-section>


<app-experience-section></app-experience-section>
<app-contacto></app-contacto>
<app-footer></app-footer>
