<app-nav-bar></app-nav-bar>

<app-portada
    backImg="../../../../../assets/images/ren-a-car-2.jpg"
    secTitle="MUEVETE POR LA FLORIDA CON EL ESTILO QUE MERECES"
    mainTitle="Rent a Car"

></app-portada>

<!-- <div class="sub-portada">
    <img src="../../../../../assets/images/ren-a-car-2.jpg">
    <div class="sub-port-text">
        <h1>
            MUEVETE POR LA FLORIDA CON EL ESTILO QUE MERECES
        </h1>
        <p>
            Buscamos para ti la mejor opción de nuestra flota último modelo entre: vehículos exóticos, de alta gama, viajar hasta la
            costa oeste o quizás Orlando con la familia a bordo de algunas de nuestras Minivans híbridas. Siempre encontraremos lo
            que mejor vehiculo que se adapte a ti! Eso es lo que más nos importa en Double G, satisfacer tu necesidad a tu medida.
        </p>
    </div>
</div> -->


<div class="container" *ngIf="!isPhoneScreen">
    <input *ngFor="let car of carData; let i = index" type="radio" name="slider" [id]="'s' + (i + 1)"
        [checked]="i === 0">

    <div class="cards">
        <label *ngFor="let car of carData; let i = index" [for]="'s' + (i + 1)" [id]="'slide' + (i + 1)">
            <div class="card">
                <img class="card-img" [src]="car.imageSrc">
                <div class="infos">
                    <p class="name"><span><i aria-hidden="true" class="fa fa-car"></i></span>{{ car.name }}</p>
                    <p class="price"><span><i aria-hidden="true" class="fa fa-usd"></i></span>{{ car.price }}</p>
                    <p class="persons"><span><i aria-hidden="true" class="fa fa-male"></i></span>{{ car.persons }} PERSONAS</p>
                </div>
            </div>
        </label>
        </div>
</div>

<div *ngIf="isPhoneScreen" class="grid-container">
        <div class="grid-card" *ngFor="let car of carData">
            <img class="grid-card-img" [src]="car.imageSrc">
            <div class="grid-card-infos">
                <p class="name"><span><i aria-hidden="true" class="fa fa-car"></i></span>{{ car.name }}</p>
                <p class="price"><span><i aria-hidden="true" class="fa fa-usd"></i></span>{{ car.price }}</p>
                <p class="persons"><span><i aria-hidden="true" class="fa fa-male"></i></span>{{ car.persons }}
                    PERSONAS</p>
            </div>
        </div>
</div>

<!--
<app-galeria-autos></app-galeria-autos>
-->

<!--
<app-mosaico mainTitle="Tipos de Autos" desc="¡Encontra el auto para tus mejores viajes!"
    [images]="mosaicoImages" [texts]="mosaicoTexts"
></app-mosaico>
-->

    


<app-tres-cards-section [cardData]="beneficios" mainTitle="¿Porque volar con Double G?"></app-tres-cards-section>
<app-experience-cards [skipIndex]="1"></app-experience-cards>
<app-contacto></app-contacto>
<app-footer></app-footer>
