<nav class="navbar">
  <div class="logo">
    <img
      src="../../../../assets/svg/g-letter.svg"
      alt="insertar SVG con la etiqueta image"
    />
  </div>
  <ul class="nav-list">
    <li class="nav-item"><a routerLink="/">Inicio</a></li>
    <li class="nav-item"><a routerLink="/about">Servicios</a></li>
    <li class="nav-item"><a routerLink="/contact">Somos</a></li>
    <li class="nav-item"><a routerLink="/contact">Contacto</a></li>
  </ul>

  <div class="menu-icon">
    <span class="material-symbols-rounded " (click)="openMenu()"> 
      menu
    </span>
  </div>
</nav>

<div *ngIf="showMenu">
  <ul class="nav-list-mobile">
    <li class="nav-item-mobile"><a routerLink="/">Inicio</a></li>
    <li class="nav-item-mobile"><a routerLink="/about">Servicios</a></li>
    <li class="nav-item-mobile"><a routerLink="/contact">Somos</a></li>
    <li class="nav-item-mobile"><a routerLink="/contact">Contacto</a></li>
  </ul>
</div>
