.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #353535;
  color: #c0c0c0;

  .logo {
    display: flex;
    align-items: center;
  }

  img {
    height: 40px;
    transition: all 0.3s;
  }

  .nav-list {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }

  .nav-item {
    padding: 8px 15px;

    &:hover {
      background-color: #8a8325;
      border-radius: 5px;
      transition: 0.3s ease;
      cursor: pointer;
    }
  }
}

//MOBILE
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #353535;

    .nav-list {
      display: none;
    }

    img {
      height: 1.8em;
    }

    .menu-icon {
      font-size: 2em;
      color: #c0c0c0;

      span {
        display: block;
      }
    }
  }

  .nav-list-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #353535;
    color: #c0c0c0;
    animation-name: translateX;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;

    .nav-item-mobile {
      padding: 1em 0;
    }
  }
}

//TABLET / NOTEBOOK
@media only screen and (min-width: 768px) and (max-width: 1240px) {
  .navbar {
    background-color: #353535;
  }

  .menu-icon {
    display: none;
  }
}

//ESCRITORIO
@media only screen and (min-width: 1240px) {
  .navbar {
    background-color: #353535;
  }

  .menu-icon {
    display: none;
  }

  img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

@keyframes translateX {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
