



<app-carousel></app-carousel>


<app-video-experiencie></app-video-experiencie>

<app-experience-section></app-experience-section>

<app-servicios-cards></app-servicios-cards>



<div class="opinion-section">
  <div class="opinion-title">
    <h1 class="text-color-gray title">Testimonios de Viajeros Double G</h1>
  </div>
  <div class="opinions">
    <app-opinion-card></app-opinion-card>
  </div>
  <div class="button-form" style="width: 320px;margin: 0 auto;text-align: center;max-width: 90%;">
    <app-primary-button text=" Cuéntanos tu experiencia"  href="https://g.page/r/CeGo9_1DwiXREB0/review" target="_blank"></app-primary-button>
  </div>
</div>

<app-floating-whatsapp></app-floating-whatsapp>

<app-contacto-newsletter></app-contacto-newsletter>


<app-footer></app-footer>

