<app-nav-bar></app-nav-bar>


<div class="">
  <app-carousel></app-carousel>
</div>
<div class="navigation-arrow">
  <a href="#"
    ><fa-icon [icon]="faChevronDown" (click)="scrollDown()"></fa-icon
  ></a>
</div>

<div id="firstSection">
  <app-experience-section></app-experience-section>
</div>

<app-video-experiencie></app-video-experiencie>
<app-servicios></app-servicios>



<div class="opinion-section">
  <div class="opinion-title">
    <h1 class="text-color-gray title">Opiniones de nuestros clientes</h1>
  </div>
  <div class="opinions">
    <app-opinion-card></app-opinion-card>
  </div>
</div>

<app-floating-whatsapp></app-floating-whatsapp>

<app-contacto-newsletter></app-contacto-newsletter>


<app-footer></app-footer>

