<app-nav-bar></app-nav-bar>



<app-carousel></app-carousel>


<app-experience-section></app-experience-section>

<app-video-experiencie></app-video-experiencie>

<app-servicios-cards></app-servicios-cards>



<div class="opinion-section">
  <div class="opinion-title">
    <h1 class="text-color-gray title">Opiniones de nuestros clientes</h1>
  </div>
  <div class="opinions">
    <app-opinion-card></app-opinion-card>
  </div>
</div>

<app-floating-whatsapp></app-floating-whatsapp>

<app-contacto-newsletter></app-contacto-newsletter>


<app-footer></app-footer>

