.icono {
  position: relative;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 4%;
  right: 4%;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
}

.float:hover {
  background-color: #10df7ed7;
  animation: shakeAndRotate 0.5s ease-in-out, pulseColor 0.3s ease-in-out;
}

@keyframes shakeAndRotate {
  0%, 100% {
    transform: rotate(0deg) translateX(0);
  }
  25% {
    transform: rotate(-15deg) translateX(-5px);
  }
  50% {
    transform: rotate(15deg) translateX(5px);
  }
  75% {
    transform: rotate(-15deg) translateX(-5px);
  }
  75% {
  	transform: rotate(-15deg) translateX(-5px);
  transform: scale(1.1);
  }
}

@keyframes pulseColor {
  0%, 100% {
    color: #FFF;
  }
  50% {
    color: #10df7e;
  }
}

.fa-whatsapp {
  font-size: 30px;
}

.my-float {
  transform: translateY(20%);
}
