<div class="pop-up-container">
  <div id="img"></div>
  <div class="content">
    <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
    <div class="logo">
      <img href="#" alt="logo" src="../../../../assets/logo/Logo - Negro.svg"/>
    </div>
    <div class="pop-up-title">
      <h1>¡Vive la Copa América 2024 junto a Double G!</h1>
    </div>
    <div class="description">
      <p>
        Descubre nuestros paquetes turísticos personalizados para vivir este
        evento único al máximo. Contrata experiencias VIP con boletos
        garantizados y todos los servicios incluidos, o consigue tu mejor
        alojamiento y transportación en cada sede. Nosotros nos encargamos de
        todos los detalles para que solo te preocupes por disfrutar.
      </p>
    </div>
    <div>
      <p class="bottom-text">
        ¡Reserva hoy mismo tu experiencia y sé parte de la pasión del fútbol en
        USA!
      </p>
    </div>
    <div class="pop-up-button">
      <app-primary-button text="Contactanos" (click)="navigate()"></app-primary-button>
    </div>
  </div>
</div>
