<div class="video-section-container">
    <div class="video-container">
        <div class="title-video">
            <h2>Disfruta de un viaje único</h2>
            <p>
                Somos Double G, agencia oficial de la Florida, dedicada a transformar tus vacaciones en experiencias inolvidables
            </p>
            <p>
                Con un profundo conocimiento y un equipo apasionado, nos especializamos en armar una experiencia completa para  aproveches al máximo cada momento de tu viaje.
            </p>
            <div class="button-form">
                <div class="btn-epic" (click)="redirectToPage()">
                    <span>
                        <a>Más Información</a>
                    </span>
            </div>
            </div>
        </div>
    
        
        <div class="video">
            <video controls>
                <source src="../../../../assets/video/REEL 55 - DG.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>

