<div class="video-container">
    <div class="tiltle">
        <h2>VIAJA CON NOSOTROS</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ratione sapiente aperiam exercitationem eius ex repellat non asperiores, esse nesciunt fuga excepturi nobis vero obcaecati molestiae provident hic libero quod.</p>
    </div>

    
    <div class="video" [@fadeInFromLeft]="fadeInFromLeftState">
        <iframe #videoPlayer width="800"  frameborder="0" allowfullscreen></iframe>
    </div>
</div>
