<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/images/coast-miami.jpg" class="d-block w-100" alt="...">
      <div class="text">
        <h1>Somos Double G</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/hotel-room.jpg" class="d-block w-100" alt="...">
      <div class="text">
        <h1>Alojamientos</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/ren-a-car-2.jpg" class="d-block w-100" alt="...">
      <div class="text">
        <h1>Rent a car</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/aeropuerto.jpg" class="d-block w-100" alt="...">
      <div class="text">
        <h1>Vuelos</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/disney.jpg" class="d-block w-100" alt="...">
      <div class="text">
        <h1>Parques Temáticos</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/luxury.2.jpg" class="d-block w-100" alt="...">
      <div class="text">
        <h1>Luxury</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/yate2.jpg" class="d-block w-100" alt="...">
      <div class="text">
        <h1>Cruceros</h1>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--

-->
<!--
<div  id="slider">
  <input type="radio" name="slider" id="slide1" checked>
  <input type="radio" name="slider" id="slide2">
  <input type="radio" name="slider" id="slide3">
  <input type="radio" name="slider" id="slide4">

  <div id="slides">
    <div id="overflow">
      <div class="inner">
        <div class="slide slide-1">
          <div class="slide-content">
            
            <img src="../../../../assets/images/alojamiento.jpg" class="slide-image" alt="Alojamientos">
            
              <h1>Alojamientos</h1>
          </div>          
        </div>
        
        <div class="slide slide-2">
          <div class="slide-content">
            
            <img src="../../../../assets/images/vuelos-baratos-paginas-b.webp"  class="slide-image" alt="Vuelos">
            
              <h1>Vuelos</h1>
          </div>  
        </div>
        
        <div class="slide slide-3">
          <div class="slide-content">
            
            <img src="../../../../assets/images/disney.jpg" class="slide-image" alt="Parques Temáticos">
            
              <h1>Parques Temáticos</h1>
          </div>  
        </div>

        <div class="slide slide-4">
          <div class="slide-content">
          
              <img src="../../../../assets/images/disney.jpg" class="slide-image" alt="Parques Temáticos">
            
            <h1>Rent a Car</h1>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="controls">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
  </div>
  <div id="bullets">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
  </div>
</div>
-->
<!--
<button class="carousel-control-prev" type="button" onclick="prevSlide()">
  <span class="">Previous</span>
</button>
<button class="carousel-control-next" type="button" onclick="nextSlide()">
  <span class="">Next</span>
</button>
-->