<div class="">
  <!-- PORTADA PRINCIPAL -->
  <div class="portada">
    <div class="portada-text">Somos Double G</div>
  </div>
</div>
<div class="portada-container fade-up">
  <div class="portada-img">
    <img
      src="../../../../../assets/images/20220830_132936.jpg"
      loading="lazy"
    />
  </div>

  <div class="portada-info fade-down">
    <h1>Creando experiencias únicas</h1>
    <p>
      En Double G, nos dedicamos a proporcionar experiencias de viaje
      excepcionales internacionalmente. Somos una agencia oficial con base en la
      Florida y nos enorgullece ofrecer una amplia gama de servicios, desde la
      organización de alojamiento en los mejores hoteles y departamentos,
      transporte hasta la planificación detallada de emocionantes itinerarios de
      viaje.
    </p>
    <p>Nuestro equipo altamente calificado está comprometido a brindar un
      servicio personalizado y atención meticulosa a cada detalle, asegurando
      que cada viaje sea único y memorable.</p>
    <p>Somos apasionados por viajar y nuestro diferencial radica en la profunda comprensión de los destinos que
      ofrecemos y nuestra capacidad para adaptar cada experiencia de viaje a las necesidades y deseos individuales de nuestros clientes. Nos esforzamos por
      superar las expectativas al ofrecer asesoramiento experto, acceso privilegiado a atracciones y eventos exclusivos, y un compromiso
      inquebrantable con la excelencia en el servicio al cliente.</p>
    <p>Con Double G, puedes confiar en que tu viaje será una experiencia única e inolvidable.</p>
  </div>
</div>
<app-experience-cards [subTitleFlag]=true mainTitle="Conoce todos nuestros servicios" subTitleText="Armamos tu experiencia completa"></app-experience-cards>
<div class="beneficios-container">
  <div class="beneficios-main-title">
    <h1>¿Porque reservar con Double G?</h1>
  </div>
  <div class="grid-beneficios" *ngIf="!isPhoneScreen">
    <div class="beneficio">
      <div class="logo-beneficio">
        <img
          src="https://cdn-icons-png.flaticon.com/512/117/117529.png"
          width="40"
          height="36"
          fill="none"
          class="advantageBannerIcon__1Fz-"
          loading="lazy"
        />
      </div>
      <div class="beneficio-title">
        <h3>Accesibilidad</h3>
      </div>
      <p>
        En Double G, nos esforzamos por ofrecer una experiencia inclusiva para
        todos nuestros usuarios.
      </p>
    </div>

    <div class="beneficio">
      <div class="logo-beneficio">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1259/1259387.png"
          width="40"
          height="36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="advantageBannerIcon__1Fz-"
          loading="lazy"
        />
      </div>
      <div class="beneficio-title">
        <h3>Experiencias inolvidables</h3>
      </div>
      <p>
        Desde exóticos destinos hasta joyas escondidas, cada viaje que ofrecemos
        es una oportunidad para descubrir el mundo de una manera única.
      </p>
    </div>

    <div class="beneficio">
      <div class="logo-beneficio">
        <img
          src="https://cdn-icons-png.flaticon.com/512/2693/2693507.png"
          width="40"
          height="36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="advantageBannerIcon__1Fz-"
          loading="lazy"
        />
      </div>
      <div class="beneficio-title">
        <h3>La calidad es nuestra prioridad</h3>
      </div>
      <p>
        Cada destino, cada experiencia, está seleccionado con cuidado para
        garantizar que disfrutes de la más alta calidad en cada momento de tu
        viaje.
      </p>
    </div>

    <div class="beneficio">
      <div class="logo-beneficio">
        <img
          src="https://cdn-icons-png.flaticon.com/512/4814/4814842.png"
          width="40"
          height="36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="advantageBannerIcon__1Fz-"
          loading="lazy"
        />
      </div>
      <div class="beneficio-title">
        <h3>Servicio de atención al cliente</h3>
      </div>
      <p>
        Nuestro equipo dedicado está aquí para asegurarse de que cada paso de tu
        viaje sea perfecto.
      </p>
    </div>
  </div>

  <div class="slider-beneficios" *ngIf="isPhoneScreen">
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      space-between="50"
      loop="true"
    >
      <swiper-slide>
        <div class="beneficio">
          <div class="logo-beneficio">
            <img
              src="https://cdn-icons-png.flaticon.com/512/117/117529.png"
              width="40"
              height="36"
              fill="none"
              class="advantageBannerIcon__1Fz-"
              loading="lazy"
            />
          </div>
          <div class="beneficio-title">
            <h3>Accesibilidad</h3>
          </div>
          <p>
            En Double G, nos esforzamos por ofrecer una experiencia inclusiva
            para todos nuestros usuarios.
          </p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="beneficio">
          <div class="logo-beneficio">
            <img
              src="https://cdn-icons-png.flaticon.com/512/1259/1259387.png"
              width="40"
              height="36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="advantageBannerIcon__1Fz-"
              loading="lazy"
            />
          </div>
          <div class="beneficio-title">
            <h3>Experiencias inolvidables</h3>
          </div>
          <p>
            Desde exóticos destinos hasta joyas escondidas, cada viaje que
            ofrecemos es una oportunidad para descubrir el mundo de una manera
            única.
          </p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="beneficio">
          <div class="logo-beneficio">
            <img
              src="https://cdn-icons-png.flaticon.com/512/2693/2693507.png"
              width="40"
              height="36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="advantageBannerIcon__1Fz-"
              loading="lazy"
            />
          </div>
          <div class="beneficio-title">
            <h3>La calidad es nuestra prioridad</h3>
          </div>
          <p>
            Cada destino, cada experiencia, está seleccionado con cuidado para
            garantizar que disfrutes de la más alta calidad en cada momento de
            tu viaje.
          </p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="beneficio">
          <div class="logo-beneficio">
            <img
              src="https://cdn-icons-png.flaticon.com/512/4814/4814842.png"
              width="40"
              height="36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="advantageBannerIcon__1Fz-"
              loading="lazy"
            />
          </div>
          <div class="beneficio-title">
            <h3>Servicio de atención al cliente</h3>
          </div>
          <p>
            Nuestro equipo dedicado está aquí para asegurarse de que cada paso
            de tu viaje sea perfecto.
          </p>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>

<app-contacto
  mainTitle="¿Quieres sumarte al equipo como operador?"
  subTitle="Somos una agencia certificada de la Florida y vendedores oficiales de Disney y Universal, ¡sumate a nuestro equipo como operador! Contáctanos para más información."
  buttonName="Contacto formulario"
  functionName="revendedor"
></app-contacto>

<app-floating-whatsapp></app-floating-whatsapp>
<app-footer></app-footer>
