<div class="alojamiento-global">
    <h3 class="text-color title">{{ mainTitle }}</h3>
    <h4 class="text-color subtitle" *ngIf="subTitleFlag">{{ subTitleText }}</h4>
    <div class="contenedor-cards">
        <ng-container *ngFor="let card of cardData; let i = index">
            <div class="cards" *ngIf="i !== skipIndex">
                <div class="content">
                    <div class="image-card" (click)="navigateToPage(card.link)">
                        <ng-icon class="icon" [name]="card.icon"></ng-icon>
                    </div>
                    <div class="text-card">
                        <h4>{{ card.title }}</h4>
                        <p>{{ card.text }}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
