<div style="background-color: #333;">
<div class="container">
    <div class="footer">
        <div class="legal-part">
            <div class="column datos">
            
                <div class="title">
                    <h2>Redes Sociales</h2>
                </div>
            
                <div class="divider"></div>
            
                <div class="lista lista-redes">
                    <ul>
                        <li class="element-red">
                            <a href="https://www.facebook.com/doubleg.rentalsolutions" target="_blank"><i class="fa-brands fa-facebook"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li class="element-red">
                            <a href="https://www.instagram.com/double_g.rentalsolutions/" target="_blank"><i class="fa-brands fa-instagram"></i>
                            
                                <span>Instragram</span>
                            </a>
                        </li>
                        <li class="element-red">
                            <a href=" https://www.tiktok.com/@doublegrentalsolutions" target="_blank"><i class="fa-brands fa-tiktok"></i>
                                <span>Tik Tok</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="title">
                    <h2>Official Travel Agency of Florida</h2>
                </div>
                <div class="divider"></div>
                <div style="display: flex;text-align: center;justify-content: center;align-content: center;">
                    <span style="font-size: 16px;">Fla. Seller of Travel Ref. No. ST44689</span>
                </div>
            </div>

            <div class="column contacto">

                <div class="contacto-top">
                    <div class="logo">
                        <img src="../../../../assets/logo/logo.svg" />
                    </div>
                </div>
                
            </div>
            
            

            <div class="column habilitacion">
                <div class="title">
                    <h2>Ubicación</h2>
                </div>
                <div class="divider"></div>
                <div class="lista ubicacion">
                    <ul>
                        <li><span>2700, Glades Circle, Suite 147,</span></li>
                        <li><span>Weston FL 33327 Estados Unidos</span></li>
                    </ul>
                </div>

                <div class="title">
                    <h2>Contacto</h2>
                </div>
                <div class="divider"></div>

                <div class="lista lista-contacto">
                    <ul>
                        <li>
                            <a href="tel:+1 (954) 621-8999">
                                <span>
                                    <i aria-hidden="true" class="fa fa-phone"></i> </span>
                                <span>+1 (954) 621-8999</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:reservas@doubleg-miamirentals.com">
                                <span>
                                    <i aria-hidden="true" class="fa fa-envelope"></i> </span>
                                <span>reservas@doubleg-miamirentals.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>

        <div class="footer-main-title">
            <h1>Rental Solution</h1>
        </div>
    </div>
</div>
<div class="bottom-footer">
    <!--
        <div class="redes-footer">
            <div class="media-icons">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.tiktok.com/es/" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    -->
    <div class="copyright-footer">
        <p class="copyright-text">Copyright &copy; {{ currentYear }} <span class="Copyright">DOUBLE G</span> - Rental Solutions {{ currentYear }} - Todos los derechos reservados.</p>
    </div>
</div>

</div>