
.container {
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    box-sizing: border-box;
    justify-content: end;
    align-content: end;
    min-width: 100%;
    background-color: #333;
    border-top: solid 2px var(--primary-color);
}
.footer {
    max-height: 100%;
    width: 100%;
    height: auto;
    padding: 70px 30px 20px;
    color: var(--primary-color);
    max-width: 1300px;
    margin: 0 auto;
    
    position: relative;
}
.divider {
    width: 100%;
    height: 1px; 
    background-color: var(--primary-color); 
    margin: 20px 0; 
}
.legal-part{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    justify-content: end;
    align-content: end;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.logo img {
    width: auto; 
    max-width: 100%; 
    max-height: 150px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.title {
    position: relative;
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: -20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title h2{
    font-size: 20px;
}
ul {
    padding-left: 0;
}

li {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}

.lista {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista li{
    list-style: none;
    margin-bottom: 10px;
}

.lista li a{
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
}
.lista li a:hover {
    color: #8c7300;
}
.lista li i {
    margin-right: 10px;
}
.lista-redes ul li:hover {
    color: #8c7300;
}
.redes-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.span-redes {
    font-size: 1em;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}


.media-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.media-icons a {
    text-decoration: none;
    padding: 8px;
    background-color: black;
    margin: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.media-icons a i {
    font-size: 1.5em;
    color: var(--primary-color);
    opacity: 0.9;
    transition: color 0.5s;
}

.media-icons a:hover {
    background-color: var(--primary-color);
}

.media-icons a:hover i {
    color: black;
}


.bottom-footer {
    /*
    border-top: solid 1px black;
    color: black;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: var(--primary-color);
    padding: 10px;
    align-items: center;
    min-height: 100px;
    */
    border-top: solid 1px black;
    color: black;
    background-color: var(--primary-color);
    padding: 10px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.footer-main-title {
    width: 100%;
    margin: 40px auto 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-main-title::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
}

.footer-main-title h1 {
    background-color: #333;
    z-index: 1;
    padding: 0 30px;
}


.redes-footer {
    margin-bottom: 10px;
    width: 100%;
}

.copyright-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    width: 100%; 
}
.copyright-text {
    font-size: 0.9em;
    width: 100%;
    margin: 0;
}
.Copyright {
    font-weight: bold;
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {

    .legal-part {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {

    .contacto{
        order: -1;
    }
    .media-icons a {
        margin: 5px;
    }

    .legal-part {
        grid-template-columns: repeat(1, 1fr);
    }

    
        

    .media-icons a {
        margin: 5px;
        padding: 5px;
    }

    .bottom-footer {
        grid-template-columns: 1fr; 
        text-align: center; 
    }

    .redes-footer, .copyright-footer {
        margin-bottom: 0; 
    }

    .Copyright {
        margin-left: 0;
        margin-top: 10px; 
    }
}
