<div style="background-color: #333;">
<div class="container">
    <div class="footer">
        <div class="legal-part">
            <div class="column contacto">

                <div class="contacto-top">
                    <div class="logo">
                        <img src="../../../../assets/logo/logo.svg" alt="insertar SVG con la etiqueta image" />
                    </div>
                    <div class="lista dirreccion">
                        <ul>
                            <li><span>Excursiones Calamuchita SRL Leg. 9117</span></li>
                            <li><span>Agencia de Viajes y Turismo</span></li>
                            <li><span>Cuit Nº 30-64690258-0</span></li>
                        </ul>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="lista contacto-bottom">
                    <ul>
                        <li>
                            <a href="tel:666888000">
                                <span>
                                    <i aria-hidden="true" class="fa fa-phone"></i> </span>
                                <span>4228912 - 3516063651 </span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:ventas1@calamuchitaviajes.net">
                                <span>
                                    <i aria-hidden="true" class="fa fa-envelope"></i> </span>
                                <span>ventas1@calamuchitaviajes.net</span>
                            </a>
                        </li>
                        <li>
                            <span>
                                <i aria-hidden="true" class="fa fa-map-marker"></i> </span>
                            <span>Tucuman 227, Córdoba, Argentina</span>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="column datos">
                <div class="title">
                    <h2>Datos Útiles</h2>
                </div>

                <div class="divider"></div>

                <div class="lista lista-datos">
                    <ul>
                        <li><a><span>Condiciones Generales</span></a></li>
                        <li><a><span>Formas de Pago</span></a></li>
                        <li><a><span>Terminos y Condiciones de Uso</span></a></li>
                    </ul>
                </div>
                
                <div class="title">
                    <h2>Legales</h2>
                </div>

                <div class="divider"></div>

                <div class="lista lista-legales">
                    <ul>
                        <li>
                            <a href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/0-4999/638/texact.htm">
                                <span>Ley 24.240</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.argentina.gob.ar/economia/comercio/defensadelconsumidor">
                                <span>Autoridad Nacional de aplicación</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://autogestion.produccion.gob.ar/consumidores">
                                <span>Reclamos</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.argentina.gob.ar/servicio/presentar-una-denuncia-contra-una-agencia-de-viajes">
                                <span>Denunciá a una agencia de viajes</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="column habilitacion">
                <div class="title">
                    <h2>Habilitacion</h2>
                </div>

                <div class="divider"></div>
                
                <div class="qrs">
                    <div class="imagen-qrs">
                        <a href="https://calamuchitaviajes.tur.ar//wp-content/uploads/2023/03/F-960-EXC-CALAMUCHITA-2.pdf">
                            <img loading="lazy" src="https://calamuchitaviajes.tur.ar/wp-content/uploads/2021/08/DATAWEB-1.jpg" alt=""> </a>
                    </div>
                    <div class="imagen-qrs">
                        <a href="https://drive.google.com/file/d/1bsFbauyypkGGI5i3Ima7T1yZtF4IXwXj/view">
                            <img loading="lazy"
                                src="https://calamuchitaviajes.tur.ar/wp-content/uploads/2021/08/frame.png"
                                class="attachment-large size-large wp-image-1923" alt=""
                                srcset="https://calamuchitaviajes.tur.ar/wp-content/uploads/2021/08/frame.png 300w, https://calamuchitaviajes.tur.ar/wp-content/uploads/2021/08/frame-180x180.png 180w"> </a>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="habilitacion-info">
                    <p>El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a
                        intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido
                        en el artículo 14, inciso 3 de la Ley Nº 25.326. La Dirección Nacional de Protección de Datos de Personas, Órgano de
                        Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación
                        al incumplimiento de las normas sobre protección de datos personales.</p>
                </div>
            </div>

            <div class="column estudiantil">
                <div class="title">
                    <h2>Turismo Estudiantil</h2>
                </div>
                <div class="divider"></div>
                <div class="foto-estudiantil">
                    <a href="https://www.argentina.gob.ar/turismoydeportes/estudiantil">
                        <img loading="lazy" width="336" height="313"
                            src="https://calamuchitaviajes.tur.ar/wp-content/uploads/2021/08/logosturismoestudiantil.png"
                         alt=""> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-footer">
        <div class="redes-footer">
            <div class="media-icons">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.tiktok.com/es/" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
        <div class="copyright-footer">
            <p class="copyright-text">Copyright &copy; {{ currentYear }} - <span class="Copyright">DOUBLE G</span></p>
        </div>
</div>

</div>