<app-portada
  backImg="../../../../../assets/images/crucero.webp"
  secTitle="Navega con Nosotros"
  mainTitle="Cruceros"
  desc="Embárcate en una experiencia inolvidable con nuestros servicios de cruceros. Ofrecemos una selección de cruceros que se adaptan a todos los gustos. Con comodidades de primera clase, entretenimiento de calidad y una atención excepcional, cada travesía se convierte en una escapada única."
></app-portada>
<div class="container">
  <div class="info">
    <div class="title">
      <h2>Navega con Double G</h2>
    </div>
    <div class="info-text">
      <p>
        Disfruta de la increíble experiencia de vacaciones en un crucero.
        Tenemos para ofrecerte las opciones de las principales empresas para que
        tu travesía sea una experiencia inolvidable. Ya sea que viajes solo o
        estés de vacaciones con toda la familia, tenemos múltiples opciones que
        se adaptan a lo que estas buscando. Armemos juntos tu viaje!
      </p>
    </div>
    <div class="list">
      <ul>
        <li>
          <span><i class="fa fa-ship" aria-hidden="true"></i></span>
          <span>Relájate con el mar abierto</span>
        </li>
        <li>
          <span><i class="fa fa-flag" aria-hidden="true"></i></span>
          <span>Disfruta las vistas de la costa</span>
        </li>
        <li>
          <span><i class="fa fa-map" aria-hidden="true"></i></span>
          <span>Emprende una nueva aventura</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="photos">
    <div class="images-container">
      <div class="top">
        <div class="image" id="image-1">
          <img
            src="https://content.boats.com/files/Tipos-de-yates.jpg"
            class="exp-img"
            alt="Luxury"
            loading="lazy"
          />
        </div>
        <div class="image" id="image-2">
          <img
            src="../../../../../assets/images/crucero.webp"
            class="exp-img"
            alt="Crucero"
            loading="lazy"
          />
        </div>
      </div>
      <div class="bottom">
        <div class="image" id="image-3">
          <img
            src="../../../../assets/images/yate2.jpg"
            class="exp-img"
            alt="Yate"
            loading="lazy"
          />
        </div>
        <div class="image" id="image-4">
          <img
            src="https://content.boats.com/files/Tipo-de-yates_yate-crucero-a-motor.jpg"
            class="exp-img"
            alt="Alojamiento"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<app-experience-cards [skipIndex]="5"></app-experience-cards>

<app-contacto style="margin-top: -100px"></app-contacto>

<app-floating-whatsapp></app-floating-whatsapp>
<app-footer></app-footer>
