<app-portada
  backImg="../../../../../assets/images/crucero.webp"
  secTitle="Navega con Nosotros"
  mainTitle="Cruceros"
  desc="Embárcate en una experiencia inolvidable con nuestros servicios de cruceros. Ofrecemos una selección de cruceros que se adaptan a todos los gustos. Con comodidades de primera clase, entretenimiento de calidad y una atención excepcional, cada travesía se convierte en una escapada única."
></app-portada>
<div class="container">
  <div class="info">
    <div class="title">
      <h2>Navega con Double G</h2>
    </div>
    <div class="info-text">
      <p>
        Disfruta de la increíble experiencia de vacaciones en un crucero.
        Tenemos para ofrecerte las opciones de las principales empresas para que
        tu travesía sea una experiencia inolvidable. Ya sea que viajes solo o
        estés de vacaciones con toda la familia, tenemos múltiples opciones que
        se adaptan a lo que estas buscando. Armemos juntos tu viaje!
      </p>
    </div>
    <div class="list">
      <ul>
        <li>
          <span><i class="fa fa-ship" aria-hidden="true"></i></span>
          <span>Múltiples y únicos destinos como el Caribe, siendo Miami uno de los principales puertos del mundo</span>
        </li>
        <li>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span>Vive el lujo y la comodidad, espectáculos y actividades únicas.</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="">
    <app-mini-slider [images]="images"></app-mini-slider>
  </div> -->
  <div class="photos">
    <div class="images-container">
        <swiper-container class="mySwiper" centered-slides="true" autoplay-delay="4000" autoplay-disable-on-interaction="false" loop="true">

            <swiper-slide *ngFor="let card of images">
                <div class="round-item">
                    <div class="card">
                        <img class="card-img" [src]="card.imageSrc" loading="lazy">
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
</div>
</div>

<div class="empresas-section">
  <h1 class="empresas-main-title">Las principales marcas que tenemos para tí</h1>
  
  <app-carousel-marcas [empresasInfo]="empresasData"></app-carousel-marcas>
  
</div>

<app-experience-cards [skipIndex]="5"></app-experience-cards>

<app-contacto style="margin-top: -100px"></app-contacto>

<app-floating-whatsapp></app-floating-whatsapp>
<app-footer></app-footer>
