
@keyframes slide {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 1rem 0;
    white-space: nowrap;
    max-width: 1200px;
    margin: 100px auto;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    content: "";
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    z-index: 2;
  }
  
  //.logos:before {
  //  left: 0;
  //  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  //}
  //.logos:after {
  //  right: 0;
  //  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  //}
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: slide 75s infinite linear;
    padding: 0 1rem;
    justify-content: center;
  }
  
  .logos-slide img {
    height: 150px;
    margin: auto 40px;
  }
  @media screen and (max-width: 1024px) {
    .logos {
      max-width: clamp(200px, 90vw, 1200px); 
    }
    }
  @media screen and (max-width: 430px) {
    .logos-slide img {
      height: 100px;
      margin: 0 20px;
    }
    .logos:before,
    .logos:after {
      width: 50px;
    }
  }