<div class="contenedor" id="opinions-container">
  <div #slideTrack class="slide-track">
    <div class="blog_post" *ngFor="let post of blogPosts.slice(0, maxCardsToShow)">
      
      <div class="img_pod">
        <img [src]="post.imageUrl" alt="Imagen de la opinión">
      </div>
      
      <div class="container_copy">
        <h3>{{ post.date }}</h3>
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
      </div>
      <div class="coloreado"></div>
    </div>
  </div>
</div>