
<app-portada
    backImg="../../../../../assets/images/aeropuerto.jpg"
    secTitle="Despega junto a Double G"
    mainTitle="Vuelos"
    desc="Planificar tu próximo viaje es fácil. Conectamos tus sueños con destinos fascinantes y experiencias inolvidables. Desde vuelos directos a conexiones estratégicas, te ofrecemos opciones que se adaptan a tus necesidades y preferencias."
></app-portada>

<app-tres-cards-section [cardData]="beneficios" mainTitle="¿Por qué volar con Double G?"></app-tres-cards-section>

<div class="container-vuelos">
        <img class="background" src="../../../../../assets/images/avion-vuelos.jpeg" loading="lazy">
    <div class="portada-vuelos">
        <div class="text-container">
            <h1 class="texto-vuelos">Viaja a donde quieras</h1>

            <h4 class="texto-vuelos">¡Te buscamos los mejores viajes al mejor precio!</h4>
        </div>
        <div class="bottom">
            <app-primary-button (click)="selectFunction()" text="Reserva"></app-primary-button>
        </div>
    </div>
</div>

<app-experience-cards [skipIndex]="2"></app-experience-cards>

<app-floating-whatsapp></app-floating-whatsapp>


<app-contacto></app-contacto>

<app-footer></app-footer>
