.container-vuelos{
    position: relative;
    height: 60vh;
    max-height: 85vh;
    display: flex;

    overflow: hidden;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2),
        0px -8px 20px rgba(0, 0, 0, 0.2);
}
h1{
    font-size: 2.5rem;
    font-weight: 600;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portada-vuelos{
    position: relative;
    width: 100%;
    z-index: 1;
    margin-top: 5%;
    margin-left: 70%;
    text-align: center;
    margin-right: 5%;
    
}

.container-vuelos img{
    width: 100%;
}

.bottom{
    margin-top: 16px;
    margin-left: 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
}

.texto-vuelos{
    width: 100%;
    margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
    .container-vuelos {
        justify-content: center;
        align-items: center;
    }

    .portada-vuelos {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .text-container {
        max-width: 90%;
        margin-top: 2vh;
    }
    .texto-vuelos {
        width: 100%;
    }

    .bottom {
        position: absolute;
        width: 70%;
        margin: 0 auto;
        bottom: 5vh;
    }
}

@media screen and (max-width: 430px) {

    h1{
        font-size: 1.5rem;
    }

    h4{
        font-size: 1.2rem;
    }

}