<div class="contact">

    <div class="card contact-card">
        <div class="card-content">

            <div class="card-front">
                <img src="../../../../assets/images/img-contacto.jpg" alt="Imagen de Contacto">
                <h3 class="card-title">Contactate con nosotros ❯</h3>
            </div>

            <div class="card-back">

            </div>
        </div>
    </div>

    <div class="card newsletter-card">
        <div class="card-content">

            <div class="card-front">
                <img src="../../../../assets/images/img-newsletter.jpg" alt="Imagen del Newsletter">
                <h3 class="card-title">Suscribete al newsletter ❯</h3>
            </div>

            <div class="card-back">
                <div class="newsletter">
                    <h1 class="text-color-gray title">Subscribete a nuestro Newsletter</h1>
                    <div class="text-color-gray">¡Recibe promociones y novedades exclusivas!</div>
                    <app-newsletter></app-newsletter>
                </div>
            </div>
        </div>
    </div>
</div>
