<div class="contact">
    <div class="contact-card">
        <div class="card-content" (click)="flipContactCard()" [class.flipped]="true">

            <div class="card-front">
                <img src="../../../../assets/images/img-contacto.jpg" alt="Imagen de Contacto">
                <h3 class="card-title">Contactate con nosotros ❯</h3>
            </div>

            <div class="card-back">
                    <app-contacto></app-contacto>
            </div>
        </div>
    </div>
</div>
