<div class="contact">

    <div class="contact-card">
        <div class="card-content" (click)="flipContactCard()" [class.flipped]="isContactCardFlipped()">

            <div class="card-front">
                <img src="../../../../assets/images/img-contacto.jpg" alt="Imagen de Contacto">
                <h3 class="card-title">Contactate con nosotros ❯</h3>
            </div>

            <div class="card-back">
                    <app-contacto></app-contacto>
            </div>
        </div>
    </div>

    <div class="newsletter-card">
        <div class="card-content" (click)="flipNewsletterCard()" [class.flipped]="isNewsletterCardFlipped()">

            <div class="card-front">
                <img src="../../../../assets/images/img-newsletter.jpg" alt="Imagen del Newsletter">
                <h3 class="card-title">Suscribete al newsletter ❯</h3>
            </div>

            <div class="card-back">
                <div>
                    <app-newsletter></app-newsletter>
                </div>
            </div>
        </div>
    </div>
</div>
